<div class="centContDiv">
    <img src="assets/_n.gif" width="440px" height="1" alt="" />
    <div class="titleTxt1">Website Terms and Conditions</div>
    <div class="DotDiv"></div>

    <p class="sp"></p>
    <span class="vera14">
        These Website Terms and Conditions (or "Terms and Conditions") apply to the website with a home page located at
        //www.UniqueRewards.com (the "Website" or "Site"). By using this Website or creating an Account you are agreeing
        to these Terms and Conditions. Any violation of these Terms and Conditions may lead to termination of your
        Account, cancellation of any Cash or other items earned or accrued including referrals, as well as any other
        applicable legal remedy. If you do not agree to these Terms and Conditions you must not use this Website.
        <p class="sp"></p>
        All visitors to or users of this Website are referred to as "Users," "you," or similar terms.
        <p class="sp"></p>
        This Website is owned and operated by UniqueRewards, Inc. ("UniqueRewards, "us," "we," or similar terms.) We
        reserve the right to modify these Terms and Conditions, as well as our Privacy Policy, at any time. Such
        changes, including retroactive changes, are effective once posted on this or a similar page of our Website.
        Changes may include, but are not limited to, rules regarding the earning of Cash and the redemption of Cash or
        any other item. Pages or features of this Website as well as offers appearing on this Website, including prizes,
        gifts, sweepstakes, offers, or other items or activities may be discontinued or changed without notice.
        <p class="sp"></p>
        Last Updated: December 1, 2021 9:00 p.m. CST
        <p class="sp50"></p>
        <span class="treb18b green">I. MEMBERSHIP</span>
        <p class="sp"></p>
        1) Valid Information
        <p class="sp"></p>
        Users must be private individuals, and not corporations or any other type of entity. Users must provide a valid
        Email Address during registration in order to activate their UniqueRewards Account. In addition, any time Users
        provide information to this Website, to any Advertisers as defined in Section IV, or in response to any Offer,
        such information must be accurate and complete and be your own information and not the information of any other
        person. This includes, but is not limited to, the registration process, User Profile, surveys, and any other
        place where information is requested.
        <p class="sp25"></p>
        2) Comply with Laws
        <p class="sp"></p>
        Users must comply with all applicable laws and regulations as they relate to the use of this Website or
        relations with us.
        <p class="sp25"></p>
        3) Duplicate Accounts
        <p class="sp"></p>
        Users may not create more than one Account with UniqueRewards. In addition, we do not allow:
        <p class="sp"></p>
        <li>More than one Account in the same Household</li>
        <li>More than one Account with the same Mailing Address</li>
        <li>More than one Account using the same Computer
            <p class="sp25"></p>
            4) Signup Bonus
            <p class="sp"></p>
            To qualify for the Signup Bonus, Users must:
            <p class="sp"></p>
        </li>
        <li>Reside in the U.S., the United Kingdom or Canada.</li>
        <li>Check the minimum number of Co-Registration (often referred to as "Opt-In" and "Opt-Out") boxes</li>
        <li>required on the Signup Form (if applicable)
            <p class="sp25"></p>
            5) Account Cancellation
            <p class="sp"></p>
            Users may cancel their Account any time by logging into the "Profile" Section and clicking the "Cancel"
            button. If a User cancels their Account, they will forfeit all their Cash in their Account and referrals. In
            addition, any requested or pending payments for that User are removed and forfeited.
            <p class="sp25"></p>
            6) Username and Password
            <p class="sp"></p>
            In connection with your Account, you will create a Username and a Password. You are responsible for keeping
            your Username and Password confidential and secure, and you are responsible for all actions taken using your
            Username and Password.
            <p class="sp25"></p>
            7) Age
            <p class="sp"></p>
            You must be 18 years or older OR 13 years or older with parental permission.
            <p class="sp50"></p>
            <span class="treb18b green">II. REFERRALS</span>
            <p class="sp"></p>
            1) Tracking
            <p class="sp"></p>
            Users can use their Referral URL to refer other Users to UniqueRewards.com. Users can find their Referral
            URL in the Referral's Section.
            <p class="sp25"></p>
            2) SPAM AND UNSOLICITED EMAIL
            <p class="sp"></p>
            Users may not SPAM (send unsolicited email to persons they do not know) in order to refer other Users to
            UniqueRewards.com. We cannot possibly list all acceptable and unacceptable methods of advertising. If a User
            has a specific question as to whether or not a particular advertising method is acceptable, they should
            contact us prior to engaging in that action.
            <p class="sp"></p>
            Users may not send Unsolicited Email advertising UniqueRewards.com <BR>
            Users may send Solicited Email to their subscribers advertising UniqueRewards.com. However, Users must
            adhere to all current legislation, including the CAN-SPAM Act.
            <p class="sp25"></p>
            3) False Advertising
            <p class="sp"></p>
            Users may not make untrue or exaggerated statements when advertising UniqueRewards.com or engage in any
            unfair or deceptive trade practice as defined by law. For example, a User may not put on their Web Site:
            "Join UniqueRewards and get paid $2.00 for every Email you read!" If the User provides information about
            UniqueRewards on their website, they must ensure the information is updated and accurate.
            <p class="sp25"></p>
            4) <a href="cgi-bin/mainfb65.html?cmd=refpage">Referral Rewards</a>
            <p class="sp"></p>
            Referral Rewards are credited to a User's Account for all earnings generated by Users they refer
            to UniqueRewards.com.
            <p class="sp50"></p>
            <span class="treb18b green">III. ACCOUNT REMOVAL</span>
            <p class="sp"></p>
            We reserve the right to delete an account of a member if he/she has never logged into an account during 14
            days after registration and has unsubscribed from our mailings.
            <p class="sp"></p>
            Also, we reserve the right to delete an account of a member if he/she has:
            <p class="sp"></p>
        </li>
        <li>More than one Account in the same Household</li>
        <li>More than one Account with the same Mailing Address</li>
        <li>More than one Account using the same Computer
            <p class="sp"></p>
            We reserve the right to delete/ block user's account if he/she is rude while communicating with the
            representatives of UniqueRewards.
            <p class="sp"></p>
            UniqueRewards reserves the right to terminate any user's account if we
            believe that a user cheats UniqueRewards insisting that a survey/offer
            has been completed when actually it hasn't. We examine all cases of fraud.
            <p class="sp50"></p>
            <span class="treb18b green">IV. CASH OFFERS</span>
            <p class="sp"></p>
            1) Terms of Offers
            <p class="sp"></p>
            UniqueRewards.com displays Offers on this Website from many different third party companies (collectively,
            "Advertisers"). UniqueRewards.com does not provide the Offers, and only Advertisers are responsible for
            their individual Offers. UniqueRewards.com is not responsible for the Terms and Conditions of any of the
            Offers listed on our Website. Users should carefully read all of the Terms and Conditions of an Offer before
            completing it. UniqueRewards.com is not responsible for any billing or ensuing contracts or relations
            between Users and Advertisers. UniqueRewards.com does not have contact information for Advertisers. Users
            should contact Advertisers directly for all questions or disputes relating to the Offer.
            <p class="sp"></p>
            Some Offers provide rewards to Users in addition to the Cash offered by UniqueRewards.com, such as Gift
            Cards, Free Gas, Digital Cameras, and others. These rewards are provided by the Advertisers and not
            UniqueRewards.com. Often times, Users must meet requirements that are not necessary to receive Cash rewards
            from UniqueRewards.com in order to qualify for the additional rewards. Users should be sure to read all of
            the Terms of the Offer to determine what those requirements are. UniqueRewards.com is not responsible for
            these additional rewards.
            <p class="sp"></p>
            There are times when Advertisers change the Terms of an Offer without notifying us. Therefore,
            UniqueRewards.com makes no guarantees on the accuracy of the Offer descriptions listed on our Website. In
            addition, if an Advertiser changes the payout of an Offer, the User may receive a lower amount of Cash than
            what was indicated at the time they completed the Offer.
            <p class="sp25"></p>
            2) Offer Completion
            <p class="sp"></p>
            Users may complete an Offer only if they have not completed the Offer in the past, either through
            UniqueRewards.com, any other website, or with the Advertiser. Users will not be credited for completing an
            Offer if they have already completed the Offer in the past.
            <p class="sp"></p>
            Users must complete the Offer by clicking on the Offer from our Web Site and completing all of the Offer
            requirements as given by the Advertiser. The User must not return to the Advertiser's Web Site at a later
            date or complete the Offer via telephone, as this interferes with our ability to track offer completion.
            <p class="sp"></p>
            Users must ensure their Web Browser is set to allow all Cookies to ensure proper tracking occurs. In
            addition, Users should ensure they do not have anti-virus and/or anti-spyware software running that is set
            to override the Browser's Cookie settings or any software provided by us.
            <p class="sp25"></p>
            3) Offer Crediting
            <p class="sp"></p>
            Most Offers are credited to the User's UniqueRewards.com Account within 24 to 72 hours after completion;
            however, some Offers can take up to 30 days to credit. The amount of time an Offer takes to credit is solely
            dependent on the Advertiser, and UniqueRewards.com is not responsible for this delay. Users should read and
            comply with all of the Offer requirements to ensure timely credit.
            <p class="sp"></p>
            UniqueRewards.com does not guarantee a User will receive credit for completing an Offer. The Advertiser has
            the final say in whether or not a User receives credit. Only if and when UniqueRewards.com receives credit
            from the Advertiser, then we will issue credit to the User; however, if the Advertiser fails to issue credit
            to UniqueRewards.com, we cannot credit the User.
            <p class="sp"></p>
            Users should save all Confirmation Emails received from Advertisers after completing an Offer. Often times
            those Emails can be used to manually credit the User's Account.
            <p class="sp"></p>
            Many of the Offers listed on UniqueRewards.com include a free trial so that Users can evaluate the product
            or service without cost. Users should not complete the Offer unless they have a genuine interest in the
            product or service. Canceling a free trial immediately after joining may interfere with our tracking and may
            result in not being credited or having credit revoked. Moreover, completing and subsequently canceling a
            large number of free trial Offers may be grounds for non-payment, in the sole discretion of
            UniqueRewards.com and the associated Advertisers. We may also terminate an Account or deny credit of Cash,
            in addition to any other legal remedy, in the event a User's activity appears fraudulent or that
            participation in Offers is a sham, in our sole discretion.
            <p class="sp50"></p>
            <span class="treb18b green">V. CASHBACK SHOPPING</span>
            <p class="sp"></p>
            Cashback Shopping Crediting
            <p class="sp"></p>
            Users can earn Cash in their UniqueRewards.com Account for purchases they make online by logging into our
            "Cashback Shopping" section. Users can shop at hundreds of Advertiser web sites and even have access to
            special coupons from select Advertisers. Users are solely responsible for their dealings with these
            Advertisers, and UniqueRewards.com disclaims all liability and responsibility for or related to such
            transactions.<br />
            Most Purchases are credited to the User's UniqueRewards.com Account within 24 to 48 hours after completion;
            The Advertisers have the final say in whether or not the User is credited. Therefore, UniqueRewards.com does
            not guarantee Users will be credited for participating in the Cashback Shopping program.
            <p class="sp"></p>
            Users should save all Confirmation Emails received from Advertisers after completing a Purchase. Often times
            those Emails can be used to manually credit the User's Account
            <p class="sp"></p>
            Users agree that if they have any dispute with an Advertiser they will pursue such matter exclusively with
            the Advertiser and not with UniqueRewards.com.
            <p class="sp50"></p>
            <span class="treb18b green">VI. CASH SURVEYS</span>
            <p class="sp"></p>
            1) Cash Surveys Qualification
            <p class="sp"></p>
            Users can earn Cash in their UniqueRewards.com Account for completing market research studies (surveys).
            <p class="sp"></p>
            Users MUST provide accurate and honest answers during both the qualifying questions and the actual market
            research studies (surveys). If a User is found to be providing fraudulent information, they will not be
            credited.
            <p class="sp25"></p>
            2) Cash Surveys Crediting
            <p class="sp"></p>
            Users must successfully complete a market research study (survey) in order to be credited. If a User does
            not initially qualify or if the User is disqualified based on answers given, then a survey has not been
            completed and no credit will be awarded.
            <p class="sp"></p>
            Most Surveys are credited to the User's UniqueRewards.com Account within 24 to 72 hours after completion;
            Advertisers have the final say in whether or not the User is credited.<BR>
            Therefore, UniqueRewards.com does not guarantee Users will be credited for participating in the Cash Surveys
            program.
            <p class="sp50"></p>
            <span class="treb18b green">VII. CLICK CASH</span>
            <p class="sp"></p>
            Click Cash Crediting
            <p class="sp"></p>
            Users can earn money to their UniqueRewards.com Account by logging into our "Click Cash" Section and
            clicking any offer they are interested in. Users can visit each website once a day.
            <p class="sp"></p>
            Users are not allowed to use third party software to click the offers.
            <p class="sp50"></p>
            <span class="treb18b green">VIII. VIDEO OFFERS</span>
            <p class="sp"></p>
            Users can earn Cash in their UniqueRewards.com Account for completing video offers. Rewards are credited
            after UniqueRewards.com have received information from an advertiser regarding the completion of video
            offer. It usually takes around 5 minutes, however, sometimes it may take more time.
            <p class="sp50"></p>
            <span class="treb18b green">IX. RADIO OFFER</span>
            <p class="sp"></p>
            Users can earn Cash in their UniqueRewards.com Account for completing the radio offer. Rewards are credited
            for entering captcha. Users get $0.03 for every submitted captcha. British and Canadian users earn $0.01.
            <p class="sp"></p>
            To complete the radio offer successfully users should have the latest version of Adobe Flash Player and
            browser.
            <p class="sp50"></p>
            <span class="treb18b green">X. OFFERWALLS</span>
            <p class="sp"></p>
            Users can earn Cash in their UniqueRewards.com Account by completing surveys/offers via OfferWalls. When we
            receive verification from the Advertiser that you completed the survey/offer, we will credit your account
            accordingly. Rewards are credited to the User's UniqueRewards.com Account within 24 hours after completion.
            <p class="sp50"></p>
            <span class="treb18b green">XI. GAMES</span>
            <p class="sp"></p>
            All users are welcome to earn cash in their UniqueRewards.com account by playing free games.
            The rewards are credited to a User's UniqueRewards.com Account within 30 minutes after you
            have completed a game once it is verified by an Advertiser. Finally, you will get between
            0.1 and 1 cent for each game you have played.
            <p class="sp50"></p>
            <span class="treb18b green">XII. CASH AND PAYMENT</span>
            <p class="sp"></p>
            1) About Cash in Your Account
            <p class="sp"></p>
            You can earn Cash which is credited to your Account as described in the other sections of these Terms and
            Conditions, and which is subject to your compliance with all Terms and Conditions. Your Account, including
            any Cash or other credits in your Account, is non-transferable and non-assignable, and may not be pooled,
            lent, sold, or exchanged. We may change rules about requesting Cash payment or redeeming other credits in
            your Account at any time and such changed rules will apply to Cash already accrued as well as to Cash
            accrued in the future. You may request Cash payment out of your Account only as permitted by these Terms and
            Conditions.
            <p class="sp25"></p>
            2) NO REDEMPTION OF CASH UNTIL YOU HAVE ACCRUED AT LEAST TWENTY DOLLARS IN YOUR ACCOUNT ($20.00) (THE
            "MINIMUM PAYMENT AMOUNT").
            <p class="sp"></p>
            THE TERMS "CASH," "DOLLARS," AND SIMILAR TERMS ARE USED INTERCHANGEABLY IN THIS WEBSITE. YOU HAVE NO RIGHT
            TO REDEEM THE "CASH" IN YOUR ACCOUNT, AND WE HAVE NO LIABILITY OR OBLIGATION TO PAY YOU WHATSOEVER, UNLESS
            AND UNTIL YOU HAVE ACCRUED AT LEAST THE MINIMUM PAYMENT AMOUNT IN YOUR ACCOUNT. UNLESS AND UNTIL YOU HAVE
            ACCRUED THE MINIMUM PAYMENT AMOUNT, SUCH "CASH" IS DEEMED A CONTINGENT LIABILITY, THAT IS ENTIRELY
            CONTINGENT UPON: (1) YOUR ACCRUAL OF AT LEAST THE MINIMUM PAYMENT AMOUNT IN YOUR ACCOUNT, AND (2) YOUR FULL
            COMPLIANCE WITH THESE TERMS AND CONDITIONS. UNLESS AND UNTIL YOUR ACCOUNT BALANCE REACHES THE MINIMUM
            PAYMENT AMOUNT, THE "CASH" IN YOUR ACCOUNT HAS NO CASH VALUE.
            <p class="sp"></p>
            FOR EXAMPLE, IF YOU OPEN AN ACCOUNT WITH AN INITIAL BALANCE OF FIVE DOLLARS ($5.00), AND THEN ACCRUE ANOTHER
            TEN DOLLARS ($10.00) IN CASH IN YOUR ACCOUNT, FOR A TOTAL OF $15.00, YOU ARE NOT ELIGIBLE TO RECEIVE ANY
            PAYMENT, AND WE ARE NOT LIABLE TO YOU FOR ANY AMOUNT. IN THIS EXAMPLE YOU WOULD HAVE TO EARN YET FIVE
            DOLLARS ($5.00), FOR A TOTAL OF TWENTY DOLLARS ($20.00) ACCRUED BALANCE, BEFORE YOU WOULD BE ENTITLED TO ANY
            PAYMENT.
            <p class="sp25"></p>
            3) Requesting Payment
            <p class="sp"></p>
            The minimal payment amount is $20.00<BR>
            To make a request for payment, click the "request payment" link in the "Balance" section of your account.
            We'll pay you through Visa, MasterCard, PayPal, Bitcoin and by check. You'll be able to choose the most
            suitable method for you.
            <p class="sp25"></p>
            4) Payment Schedule
            <p class="sp"></p>
            Our members are paid on a weekly basis, each Monday. For example, if you order money on Tuesday, your
            earnings will be sent on the following Monday evening.
            <p class="sp"></p>
            All payments are inspected immediately prior to processing. Payment requests belonging to Users who have
            duplicate Accounts will not be processed and will be removed, and corresponding Cash in the Account will be
            forfeit.
            <p class="sp"></p>
            UniqueRewards may delay the payment for some time if there is a suspicion that the completed offers/surveys
            might be reversed by the advertiser.
            <p class="sp"></p>
            If some delays with payments occur, UniqueRewards posts information about delays on <a
                href="https://www.facebook.com/UniqueRewards?sk=wall" target=_blank>Facebook</a>, <a
                href="http://twitter.com/uniquerewards" target=_blank>Twitter</a>, and <a
                href="http://forum.uniquerewards.com/" target="_blank">Forum</a>.
            <p class="sp25"></p>
            5) Returns and Reversals
            <p class="sp"></p>
            Any time you return a Cashback Shopping purchased item for which you received Cash in your Account, and any
            time you void, cancel, rescind, or reverse any Cash Shopping transaction for which you received Cash in your
            Account, UniqueRewards.com will subtract a corresponding amount of Cash from your Account. Similarly, if any
            Advertiser notifies us that it is reversing its transaction with you for any reason on any of our Cash
            generating activities, we will subtract a corresponding amount of Cash from your Account.
            <p class="sp"></p>
            If your Account receives a reversal and is suspected of fraudulent activity, UniqueRewards shall have the
            right to block your Account until the circumstances are clarified.
            <p class="sp25"></p>
            6) Fraud Prevention
            <p class="sp"></p>
            UniqueRewards.com reserves the right to request further information from Users to ensure they have not
            fraudulently completed offers or participated in offers with no intent to ultimately go through or honor the
            offer. This information may include, but is not limited to, a copy of the credit card statement that was
            used to complete the offers, in order to ensure a stolen credit card was not used.
            <p class="sp25"></p>
            In order to ensure that the users are from allowed countries, i.e. from the USA, Canada, and the UK,
            UniqueRewards.com reserves the right to ask users to request their first payment by check.
            <p class="sp50"></p>
            <span class="treb18b green">XIII. GENERAL TERMS</span>
            <p class="sp"></p>
            1) Copyrights and Trademarks
            <p class="sp"></p>
            All content, materials, images, and other items on or accessed directly through this Website (collectively,
            the "Content") belong to UniqueRewards.com, its third party licensors, or third party Advertisers. There are
            some important rules about using and copying the Content. You may download or print one copy of the Content
            on this Website, but only for your personal, noncommercial use. When you download or print a copy of the
            Content, you must also include all copyright and other notices that are in the Content, including the
            copyright notice on the bottom of the page.
            <p class="sp"></p>
            The Content is protected by United States and foreign copyright laws. If you use the Content in a way that
            is not clearly allowed by these Terms and Conditions, you are violating your agreement with us and may be
            violating copyright, trademark, and other laws. In that case, we automatically revoke your license to use
            the Content and you must immediately destroy any copies you have made. All right, title, and interest in and
            to the Content remains with UniqueRewards.com or our third party licensors. All rights not expressly granted
            are reserved.
            <p class="sp25"></p>
            2) User Postings, Messages, and Chat
            <p class="sp"></p>
            The Website may include certain sections in which, now or in the future, Users are permitted the opportunity
            to post comments, feedback, other messages, or the opportunity to communicate with other Users. All such
            communications provided by you on or through this Website, or sent to us by email, mail, or other means
            (collectively, "Postings and Messages") will be considered non-personal, non-confidential, and
            non-proprietary. You hereby grant UniqueRewards.com a perpetual, worldwide, royalty-free, unrestricted,
            irrevocable license to use, reproduce, display, perform, modify, create derivative or collective works,
            transmit and distribute your Postings and Messages, and agree that UniqueRewards.com is free to use such
            Postings and Messages for any purpose and in any medium.<BR>
            You further grant UniqueRewards.com the right to sublicense or assign any of the foregoing rights to others.
            In addition, you grant a license to all Website members to print one (1) copy of your Postings or Messages
            for their personal use only.
            <p class="sp"></p>
            All Postings and Messages appearing on the Website are the responsibility of the person providing such
            Posting or Message. UniqueRewards.com is not responsible for the contents of any Posting or Message.
            UniqueRewards.com does not in any way endorse the contents of any Posting or Message, nor does it guarantee
            the accuracy or completeness of any Posting or Message. You are advised that Postings or Messages may be
            false or misleading. Any action you may take in reliance on any Posting or Message appearing on this Website
            is solely at your own risk.
            <p class="sp"></p>
            If you believe a Posting or Message by another User violates the copyright or other proprietary rights of a
            third party please notify us immediately, specifically identifying the offending Posting or Message as well
            as the true copyright owner and any supporting information, and we will take appropriate action. You also
            agree that we may communicate with you, by email or any other method, regarding your participation with
            UniqueRewards.com and related activities.
            <p class="sp25"></p>
            3) Privacy and Security
            <p class="sp"></p>
            You understand and agree that we will handle information as described in the Privacy Policy, as it may be
            modified from time to time. UniqueRewards.com uses a variety of security measures to protect the integrity
            of this Website, as well as Account and individual information. However, we can not and do not guarantee
            absolute security, and we are not responsible for any illegal acts of third parties including hacking or
            similar activities.
            <p class="sp25"></p>
            4) LIMITATION OF LIABILITY
            <p class="sp"></p>
            YOU AGREE THAT NEITHER UNIQUEREWARDS, NOR ANY PERSON OR COMPANY ASSOCIATED WITH UNIQUEREWARDS, INCLUDING
            ADVERTISERS OR THIRD PARTY SUPPLIERS (COLLECTIVELY, THE "COVERED ENTITIES") SHALL BE LIABLE FOR ANY DAMAGE
            RESULTING FROM YOUR USE OR INABILITY TO USE THIS WEBSITE OR THE MATERIALS ON THIS WEBSITE. THIS PROTECTION
            COVERS CLAIMS BASED ON WARRANTY, CONTRACT, TORT, STRICT LIABILITY, AND ANY OTHER LEGAL THEORY. THIS
            PROTECTION COVERS ALL LOSSES AND CLAIMS OF ANY TYPE INCLUDING, WITHOUT LIMITATION, DIRECT OR INDIRECT,
            SPECIAL, INCIDENTAL, RELIANCE, CONSEQUENTIAL, EXEMPLARY, AND PUNITIVE DAMAGES, PERSONAL INJURY/WRONGFUL
            DEATH, LOST PROFITS, OR DAMAGES RESULTING FROM LOST DATA OR BUSINESS INTERRUPTION.
            <p class="sp"></p>
            THE TOTAL LIABILITY OF COVERED ENTITIES FOR LOSSES, DAMAGES, OR CLAIMS OF ANY KIND SHALL BE LIMITED TO THE
            AMOUNT OF YOUR ACTUAL DAMAGES, NOT TO EXCEED U.S. $ 100.00. THE LIMIT OF LIABILITY MAY NOT BE EFFECTIVE IN
            SOME STATES. IN NO EVENT SHALL THE COVERED ENTITIES BE LIABLE TO YOU FOR ANY LOSSES OR DAMAGES OTHER THAN
            THE AMOUNT DESCRIBED ABOVE. ALL OTHER DAMAGES, DIRECT OR INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL,
            EXEMPLARY, OR PUNITIVE, RESULTING FROM ANY USE OF THE WEB SITE OR MATERIALS ARE EXCLUDED EVEN IF THE COVERED
            ENTITIES HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
            <p class="sp25"></p>
            5) NO WARRANTY
            <p class="sp"></p>
            ALL CONTENT ON THIS WEBSITE IS PROVIDED TO YOU ON AN "AS IS" "AS AVAILABLE" BASIS WITHOUT WARRANTY OF ANY
            KIND EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY,
            FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT. UNIQUEREWARDS MAKES NO WARRANTY AS TO THE ACCURACY,
            COMPLETENESS, CURRENCY, OR RELIABILITY OF ANY CONTENT AVAILABLE THROUGH THIS WEBSITE, INCLUDING BUT NOT
            LIMITED TO THE OFFERS PROVIDED BY ADVERTISERS. YOU ARE RESPONSIBLE FOR VERIFYING ANY INFORMATION BEFORE
            RELYING ON IT. USE OF THE WEBSITE AND THE CONTENT AVAILABLE ON THE WEBSITE OR LINKED TO BY THE WEBSITE IS AT
            YOUR SOLE RISK. UNIQUEREWARDS MAKES NO REPRESENTATIONS OR WARRANTIES THAT USE OF THE WEBSITE WILL BE SECURE,
            UNINTERRUPTED OR ERROR-FREE. YOU ARE RESPONSIBLE FOR TAKING ALL NECESSARY PRECAUTIONS TO ENSURE THAT ANY
            CONTENT YOU MAY OBTAIN FROM THE WEBSITE OR FROM LINKED WEBSITES IS FREE OF VIRUSES OR SIMILAR DESTRUCTIVE
            PROGRAMS. YOU AGREE THAT UNIQUEREWARDS SHALL NOT BE LIABLE FOR ANY CLAIM OR DAMAGES RELATED TO ANY LOSS,
            DESTRUCTION, OR ALTERATION OF DATA RELATED TO YOUR USE OF THE WEBSITE. THE FOREGOING DISCLAIMER INCLUDES BUT
            IS NOT LIMITED TO RELIANCE BY YOU OR ANY THIRD PARTY ON ANY CONTENT OR INFORMATION OBTAINED THROUGH THE USE
            OF THE WEBSITE, OR ANY DAMAGE OR HARM RESULTING FROM ANY MISTAKES OR OMISSIONS IN, OR DELAYS IN TRANSMISSION
            OF, INFORMATION TO OR FROM THE WEBSITE, INTERRUPTIONS IN TELECOMMUNICATIONS CONNECTIONS TO THE WEBSITE, OR
            VIRUSES, WHETHER CAUSED IN WHOLE OR IN PART BY NEGLIGENCE, ACTS OF GOD, TELECOMMUNICATIONS FAILURE, THEFT OR
            DESTRUCTION OF, OR UNAUTHORIZED ACCESS TO THE WEBSITE, OR RELATED INFORMATION OR PROGRAMS. SOME
            JURISDICTIONS DO NOT ALLOW SOME OR ALL OF THE FOREGOING EXCLUSION OF CERTAIN WARRANTIES, AND THEREFORE SOME
            OF THE FOREGOING EXCLUSIONS MAY NOT APPLY TO YOU.
            <p class="sp25"></p>
            6) Indemnity
            <p class="sp"></p>
            You agree to indemnify, defend and hold the Covered Entities described above harmless from and against any
            and all costs, liabilities, losses, and expenses (including, but not limited to, reasonable attorneys' fees)
            resulting from any claim, suit, action, or proceeding brought by any third party against any of the Covered
            Entities alleging or arising from or related to your use of the Website or any breach of these Terms of Use
            by you. This paragraph survives expiration or termination of your membership or these Terms of Use.
            <p class="sp25"></p>
            7) Contact Us
            <p class="sp"></p>
            Our contact information is:
            <p class="sp"></p>
            UniqueRewards LP<br />
            100 New Bond Street<br />
            London, W1S 1SP<br />
            United Kingdom<br />
            <p class="sp"></p>
            Email: <a href="cdn-cgi/l/email-protection.html#f784828787988583b782999e86829285928096859384d994989a"><span
                    class="__cf_email__"
                    data-cfemail="27545257574855536752494e565242554250465543540944484a">[email&#160;protected]</span></a>
            <p class="sp25"></p>
            UniqueRewards is always open to your ideas, suggestions, and comments. Please write us with any question you
            have. We will be happy to get your feedback.<BR>
            We will answer you promptly. You will receive qualitative and complete answers.
            <p></p>
            <div class="DotDiv"></div>
            <p class="sp"></p>
            <p class="sp"></p>
        </li>
    </span>
</div>