<div class="centContDiv">
    <img src="assets/_n.gif" width="440px" height="1" alt="" />
    <div class="titleTxt1">Contact Us</div>
    <div class="DotDiv"></div>
    <p class="sp"></p>
    <span class="vera14">
        UniqueRewards is always open to your ideas, suggestions, and comments. Please write us with any question you
        have. We will be happy to get your feedback!
        <br />
        <br />
        You can always ask your questions or chat with our other members on our <a
            href="https://www.facebook.com/UniqueRewards?sk=wall" target=_new>Facebook page</a> and <a
            href="http://forum.uniquerewards.com/" target=_new>Forum</a>.
        <p class="sp"></p>
        <form name="form" action="https://www.uniquerewards.com/cgi-bin/main.cgi" method="post"
            onSubmit=return(verify_form())>
            <input name="cmd" type="hidden" value="msgtosup" />
            <input name="uid" type="hidden" value="">
            <table border=0 cellpadding=0 cellspacing=6 width="100%">
                <tr>
                    <td><span class="vera14">Name</span></td>
                    <td><input name="name" type="text" size="30" value="" /></td>
                </tr>
                <tr>
                    <td><span class="vera14">E-mail</span></td>
                    <td><input name="email" type="text" size="30" value="" /></td>
                </tr>
                <tr>
                    <td><span class="vera14">Comment</span></td>
                    <td><textarea name="comment" cols="50" rows="5" wrap="VIRTUAL"></textarea>
                    </td>
                </tr>
                <tr>
                    <td align="left" valign="top" colspan=2>
                        <input name="submite" type="submit" value="Submit" />
                        <input name="clear" type="reset" value="Clear" />
                    </td>
            </table>
        </form>
        <p class="sp"></p>
        <span class="vera14">
            We will answer you promptly. You will receive qualitative and complete answers.
            <p class="sp"></p>
            <ul>
                <li><b>By E-mail:</b>&nbsp;&nbsp;<a
                        href="cdn-cgi/l/email-protection.html#f88b8d8888978a8cb88d9691898d9d8a9d8f998a9c8bd69b9795"><span
                            class="__cf_email__"
                            data-cfemail="94e7e1e4e4fbe6e0d4e1fafde5e1f1e6f1e3f5e6f0e7baf7fbf9">[email&#160;protected]</span></a>
                <li><b>ICQ:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 273-713-331
                <li><b>Yahoo! ID:</b> uniquerewards_team
                <li><b>Address:</b>&nbsp;&nbsp;&nbsp;&nbsp;UniqueRewards LP<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;100
                    New Bond Street<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;London,
                    W1S 1SP<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;United
                    Kingdom<br>
            </ul>

            <p></p>
            <div class="DotDiv"></div>
            <p class="sp"></p>


            <p class="sp"></p>
            <style>
                .row {
                    margin: 0 -10px;
                }

                .row:before,
                .row:after {
                    content: "";
                    display: table;
                    clear: both;
                }

                .row .column {
                    float: left;
                    width: 50%;
                    box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    padding: 0 10px;
                }

                .row .column iframe {
                    width: 100% !important;
                }
            </style>
            <div class="row">

            </div>
        </span>
    </span>
</div>