<div class="centContDiv">
    <img src="assets/_n.gif" width="440px" height="1" alt="" />
    <div class="titleTxt1">Password Retrieval</div>
    <div class="DotDiv"></div>
    <p class="sp"></p>
    <span class="vera14">
        <form name="form1" action="https://www.uniquerewards.com/cgi-bin/main.cgi" method="post"
            onSubmit=return(verify_form())>
            <INPUT name="cmd" type="hidden" value="dogetpwd">
            <div>Enter your e-mail address to re-send the UniqueRewards Welcome Message
                that contains your login information. The procedure can
                be used by registered members only to retrieve login and
                other useful information related to UniqueRewards services.
            </div><BR>
            E-mail: <INPUT name="email" type="text" size="25">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <INPUT name="submite" type="submit" value="Submit Request">
        </form>
        <div class="row">
        </div>
    </span>
</div>