<div class="centContDiv">
    <img src="assets/_n.gif" width="440px" height="1" alt="" />
    <div class="titleTxt1">Testimonials</div>
    <div class="DotDiv"></div>
    <p class="sp"></p>
    <span class="vera14">
        <UL class="testim">
            <li>I like to call the Unique Rewards opportunity my own online piggyback! you start out small and
                build a nice BIG nest-egg just by clicking their advertisers ads or you can do any offer that will
                pay a much higher payout! this is an easy and fast way to earn some extra money!
                <p></p>
                <span class="grey">Sam Bateman<br />Muskegon, MI</span>
                <p></p>
            </li>
            <li>I've just signed up for absolutely free offers and received $105 for two days!
                <p></p><span class="grey">Russel<br />Fairfield, OH</span>
                <p></p>
            </li>
            <li>This is the easiest way to earn some additional money for your needs!
                <p></p><span class="grey">Jessica<br />Ann Arbor, MI</span>
                <p></p>
            </li>
            <li>Several days ago I received my first earned money at UniqueRewards and Advanced Membershhip status!!!
                IT'S CRAZY!!! :) The rewards are SO high now - just never seen such before! What it's all about? Just
                about that this website deserved such name - Unique Rewards!
                <p></p><span class="grey">Jonathan<br />San Antonio, TX</span>
                <p></p>
            </li>
            <li>I've earned $20 in several minutes completing free offers. Nice. I'm starting to think about a creation
                of a special portal just to refer new members! As UR pays $5.00 per active referral!
                <p></p><span class="grey">Garry<br />Niceville, FL</span>
                <p></p>
            </li>
            <li>Can anybody in a clear mind refuse an opportunity to earn some additional money?! Of course, NO! So here
                it is!
                <p></p><span class="grey">Samuel<br />Albuquerque, NM</span>
                <p></p>
            </li>
            <li>Easy, useful, fast way to earn some money, win prizes or... go shopping! Yes, there are many great
                shopping offers, discounts and coupons special for members!
                <p></p><span class="grey">Andrew<br />Des Moines, IA</span>
                <p></p>
            </li>
            <li>This is my favorite survey site. You have the most opportunities and the highest incentives.
                <p></p><span class="grey">Paul Gross<br />Lakeland, FL</span>
                <p></p>
            </li>
            <li>I feel so much more a part of UniqueRewards! I enjoy being a member and helping you with your surveys.
                <p></p>
                I started doing surveys because I am highly opinionated and with the surveys that I complete with you, I
                finally feel that someone will get some kind of 'good' from my opinions.
                <p></p>
                <span class="grey">Pat<br />Fort McCoy, FL</span>
                <p></p>
            </li>
            <li>I really like doing surveys as it is a way for me to make a few extra dollars, and I like giving my
                opinion and seeing new products.
                <p></p>
                <span class="grey">Sharon <br />Ontario, Canada</span>
                <p></p>
            </li>
            <li>I am very impressed with the high level of customer service that you always seem to extend to your
                customers! Thank you!
                <p></p>
                <span class="grey">Tammy <br />Charlottesville, VA</span>
                <p></p>
            </li>
            <li>LOVE UniqueRewards, thanks for payment, & for all the tasks that have helped make it easier than other
                sites I use, too, for me to earn another check much quicker! You rock, for those who haven't joined yet,
                plz do so FREE now ...!!
                <p></p>
                <span class="grey">Lesley Patterson <br />Reno, NV</span>
                <p></p>
            </li>
            <li>I just want to thank you for the good work that you do, and also for being a legitimate and honest
                business. I know the time and effort that it takes, and I appreciate it. You are one of the few honest
                ones in this industry, and we need more like you.
                <p></p>
                <span class="grey">Rhoda <br />Dorothy, NJ</span>
                <p></p>
            </li>
            <li>UniqueRewards is the best way to earn a few extra dollars. I have earned a great amount of money, and I
                always encourage people to sign up. I even added a link to Facebook. Give it a try, everyone! You will
                love it! Every cent adds up. Cash out and you get enough free money which everyone likes, I am sure. So,
                if you have not signed up do so now!
                <p></p>
                <span class="grey">Lisa Grant <br />Lake Echo, NS Canada</span>
                <p></p>
            </li>
            <li>I just wanted to say thank you for allowing me to be a part of the big picture. I do appreciate you
                paying me all the time that I have been paid. I can't tell you how much it means to me! I am a family
                caregiver of my 87 year old Mother.
                <p></p>
                <span class="grey">Deborah DeSimone <br />New York, NY</span>
                <p></p>
            </li>
            <li>I love your site and am so glad you truly pay your members! It's nice to know there are still so good
                PTSU/PTR/PTC sites out there..was losing faith. I love your program..nice work!
                <p></p>
                <span class="grey">Josie Sweeney<br />Munford, AL</span>
                <p></p>
            </li>
            <li>I just wanted to say thank you for the quick payment! I'm gonna treat
                myself to some chinese food & pay a bill with the left over $100!!
                This is such an awesome website!!! I'm looking forward to my next $100!!!
                <p></p>
                <span class="grey">Dave Smith<br />Springvale, ME</span>
                <p></p>
            </li>
            <li>
                I want to say thank you so much! I got in my mail my first check. I went
                to Chase bank and I got my cash! This is real!!
                <p></p>
                <span class="grey">Lorrelaine Duran<br />Yonkers, NY</span>
                <p></p>
            </li>
        </UL>

        <p></p>
        <div class="DotDiv"></div>
        <p class="sp"></p>
        <p class="sp"></p>
        <div class="column">
            <script type="text/javascript"
                src="https://ads4.krushmedia.com/?c=rtb&amp;m=js&amp;type=s2c&amp;key=fe5c1687e1d07343abc02fb6be1555a7&amp;domain=uniquerewards.com"></script>
        </div>
        <div class="column">
            <SCRIPT language="JavaScript">
                $(document).ready(function () {
                    var today = new Date();
                    var args = "t=" + today;
                    $('#result_RTB_b2').load("/api/api_rtb.php/ads/kru/300/250/0.1", args, function (response, status, xhr) {
                        if (status == "error") {
                            var msg = "Sorry but there was an error: ";
                            $("#error").html(msg + xhr.status + " " + xhr.statusText);
                        } else {
                            var res = document.getElementById('result_RTB_b2').innerHTML;
                            if (res.indexOf("no bid") != -1) {
                                document.getElementById('result_RTB_b2').innerHTML = "";
                                //alert("no bid");
                            }
                        }
                    });
                });
            </SCRIPT>
            <div id="result_RTB_b2"></div>
        </div>
    </span>
</div>