<div class="centContDiv">
    <img src="assets/_n.gif" width="440px" height="1" alt="" />
    <!-- visual -->
    <div class="vTop"><img src="assets/visual/vtop.gif" width="46" height="11" alt="" /></div>
    <div class="vBg">
        <div class="vL"><a [routerLink]="['/signup']"><img src="assets/visual/pic.jpg" width="425" height="170"
                    alt="Jon Now!" /></a></div>
        <div style="float:right;"><img src="assets/visual/r.gif" width="12" height="170" alt="" /></div>
        <div class="ClearDiv"></div>
    </div>
    <div class="ClearDiv"></div>
    <!-- /visual -->

    <p class="sp"></p>
    <span class="treb18b green">It's so simple...</span>

    <p></p>
    <div class="DotDiv"></div>
    <p class="sp"></p>

    <table cellpadding="0" width="90%" align="center">
        <tr>
            <td width="30%" align="center" valign="top">
                <div style="width:128px;text-align:left;">
                    <img src="assets/center/pic01.jpg" width="128" height="75" alt="" />
                    <p></p>
                    <img src="assets/center/step1.gif" width="30" height="25" alt="" align="left"
                        style="margin:0px 7px 5px 0px;" />Fill in registration form
                </div>
            </td>
            <td width="30%" align="center" valign="top">
                <div style="width:130px;text-align:left;">
                    <img src="assets/center/pic02.jpg" width="130" height="75" alt="" />
                    <p></p>
                    <img src="assets/center/step2.gif" width="30" height="25" alt="" align="left"
                        style="margin:0px 7px 5px 0px;" />Visit sites, read e-mails, shop online
                </div>
            </td>
            <td width="30%" align="center" valign="top">
                <div style="width:128px;text-align:left;">
                    <img src="assets/center/pic03.jpg" width="84" height="75" alt="" />
                    <p></p>
                    <img src="assets/center/step3.gif" width="30" height="25" alt="" align="left"
                        style="margin:0px 7px 5px 0px;" />Get your cash rewards from Us!
                </div>
            </td>
        </tr>
    </table>
    <p class="sp25"></p>
    <span class="vera14">
        <div align="center"><a class="green" href="#"></a></div>
        <p class="sp25"></p>
        <table cellpadding=0 cellspacing=0 width=95% border=0>
            <tr>
                <td>
                    <li><span class="treb18b green">Completing Offers and Surveys</span>
                        <p class="sp"></p>
                    <li><span class="treb18b green">Watching Videos</span>
                        <p class="sp"></p>
                    <li><span class="treb18b green">Playing Free Games</span>
                        <p class="sp"></p>
                    <li><span class="treb18b green">Shopping Online</span>
                        <p class="sp"></p>
                    <li><span class="treb18b green">Reading Emails</span>
                        <p class="sp"></p>
                </td>

                <td width=20></td>
                <td>
                    <div id="video">
                        <youtube-player videoId="QIZ9aZD6vs0"> </youtube-player>
                    </div>
                </td>
            </tr>
        </table>

    </span>
    <p class="sp"></p>
    <div style="text-align: center;">
        <a [routerLink]="['/signup']">
            <img src="assets/center/bsignup.gif" width="320" height="40" alt="Sign Up" /></a>
    </div>
</div>
<p class="sp"></p><br><br>